<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @workout.date %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @workout.workout %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @workout.mood %>
</p>

<p>
  <strong>Length:</strong>
  <%= @workout.length %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
